.marquis-main-div{
    display:flex;
    padding:50px 50px 50px 50px;
}

.marquis-main-div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.marquis-main-div img{
    width: 150px;
    border-radius: 0%;
    margin-left: 100px;
}

.polaris-bank{
    width:50px !important;
}

@media screen and (max-width:769px) {
    .marquis-main-div{
        flex-direction: column;
    }
    .display-hidden{
        display: none;
    }
    .marquis-main-div img{
        width: 50%;
        height: 100px;
        margin-left: 70px;
    }
}